{
  "env": {
    "test": {
      "presets": ["flow", "es2015", "stage-0"],
      "ignore": [
        "node_modules/mapbox-gl/dist/mapbox-gl.js"
      ],
      "plugins": [
        [
          "babel-plugin-transform-require-ignore",
          {
            "extensions": [".less", ".sass", ".css", ".scss"]
          }
        ]
      ]
    },
    "development": {
      "presets": ["flow", "es2015", "stage-0"]
    }
  }
}
